---
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import Services from "../components/Services.astro";
import Newsletter from '../components/Newsletter.astro';
import Reviews from '../components/Reviews.astro';
import Layout from '../layouts/Layout.astro';
import Booking from '../components/BookingForm.astro';

import background from '../assets/background.svg';
import logo from '../assets/logo.svg';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href={logo.src} type="image/svg+xml" />
    <title>meta</title>
  </head>
  <body>
    <Layout title="Home | meta">
    <img id="background" src={background.src} alt="Blurred background" fetchpriority="high" />
      <Nav background-src={background.src} />
      <main>
        <Hero />
        <Booking />
        <Reviews />
        <section id="blog">
          <h2>Blog</h2>
          <p>Here lies the blog. Read the latest posts.</p>
        </section>
        <section id="faq">
          <h2>FAQ</h2>
          <p>Here lies the FAQ. Find The Right Question.</p>
        </section>
        <Services /> 
        <section id="about">
          <h2>About Us</h2>
          <p>The section where we pretend to be interesting.</p>
        </section>
      </main>
    </Layout>
    <Newsletter />
  </body>
</html>

<style>
  /* Global styles */
  body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Modern font */
    color: white;
  }
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: blur(100px);
    object-fit: cover;
  }
  main {
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
    text-align: center;
    padding: 2rem;
  }
  section {
				padding: 100px 20px;
				min-height: 100vh;
				border-bottom: 1px solid #eee;
				scroll-margin-top: 4rem;
			}
  @media (max-width: 768px) {
    main {
      padding-top: 60px;
      padding: 2rem;
    }
  }
</style>