---
const { title = "Default Site Title" } = Astro.props;
import CookieConsent from '../components/CookieConsent.astro';
---

<!doctype html>
	<body>
		<main>
			<slot />
		</main>
		<CookieConsent />
	</body>
</html>

<script>console.log("Layout loaded")</script>

<style>
	  html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    
    main {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: block;
    }
    
    /* For elements that might need to be contained but still extend visually */
    .container-fluid {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
	}
</style>
